<h3 class="p-t-35">Resend confirmation instructions</h3>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'p-t-15' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group form-group-default">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email, autofocus: true, required: true, class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
  </div>
  <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-cons m-t-10' %>
<% end %>
