<%= form_for(discount_item) do |f| %>
  <% if discount_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount_item.errors.count, "error") %> prohibited this discount_item from being saved:</h2>

      <ul>
      <% discount_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discount_id %>
    <%= f.text_field :discount_id %>
  </div>

  <div class="field">
    <%= f.label :cart_id %>
    <%= f.text_field :cart_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
