<li class="<%= klass %>">
  <%= link_to path, class: 'detailed' do %>
    <span class="title"><%= title %></span>
    <span class="details"><%= details %></span>
  <% end %>
  <span class="icon-thumbnail">
    <i class="fa <%= icon %>"></i>
  </span>
</li>
