<!-- BEGIN SIDEBAR MENU -->
<div class="sidebar-menu">
  <!-- BEGIN SIDEBAR MENU ITEMS-->
  <ul class="menu-items">

    <%= render partial: 'shared/sidebar/item', locals: { klass: 'm-t-30'  , path: root_path       , title: 'Dashboard'  , icon: 'fa-dashboard'      , details: 'Home' } %>
    <%= render partial: 'shared/sidebar/item', locals: { klass: ''        , path: products_path   , title: 'Products'   , icon: 'fa-shopping-bag'   , details: pluralize(Product.count, 'product') } %>
    <%= render partial: 'shared/sidebar/item', locals: { klass: ''        , path: discounts_path  , title: 'Discounts'  , icon: 'fa-percent'        , details: pluralize(Discount.count, 'discount') } %>
    <%= render partial: 'shared/sidebar/item', locals: { klass: ''        , path: carts_path      , title: 'Carts'      , icon: 'fa-shopping-cart'  , details: pluralize(Cart.count, 'cart') } %>
    <%= render partial: 'shared/sidebar/item', locals: { klass: ''        , path: users_path      , title: 'Users'      , icon: 'fa-user'           , details: pluralize(User.count, 'user') } %>
    <%= render partial: 'shared/sidebar/item', locals: { klass: ''        , path: orders_path     , title: 'Orders'     , icon: 'fa-archive'        , details: pluralize(Order.count, 'order') } %>

  </ul>
  <!-- END SIDEBAR MENU ITEMS-->
  <div class="clearfix"></div>
</div>

<!-- END SIDEBAR MENU -->
