<h3 class="p-t-35">Resend unlock instructions</h3>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'p-t-15' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group form-group-default">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit 'Resend unlock instructions', class: 'btn btn-primary btn-cons m-t-10' %>
<% end %>
