<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Users</h1>
    <a href="#" class="pull-right btn btn-success" data-toggle='modal' data-target='#invite-modal'>Invite user</a>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <%= render 'shared/notice' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Email</th>
          <th>Joined</th>
          <th>Last signed in</th>
          <th colspan="3"></th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="v-align-middle"><%= user.email %></td>
              <td class="v-align-middle"><%= time_ago_in_words(user.created_at) %> ago</td>
              <td class="v-align-middle"><%= "#{time_ago_in_words(user.last_sign_in_at)} ago" if user.last_sign_in_at %></td>
              <!-- <td class="v-align-middle"><%# link_to 'Show', user, class: 'btn btn-xs btn-primary' %></td> -->
              <!-- <td class="v-align-middle"><%# link_to 'Edit', edit_product_path(product), class: 'btn btn-xs btn-warning' %></td> -->
              <!-- <td class="v-align-middle"><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="invite-modal" tabindex="-1" role="dialog" aria-labelledby="invite-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="pg-close fs-14"></i>
                </button>
                <h5><%= t "devise.invitations.new.header" %></h5>
            </div>
            <div class="modal-body">
              <!-- invitation_path -->
              <div class="row">
                <div class="col-xs-12 col-md-6 offset-md-3">

                  <%= form_for :user, url: invitation_path(:user) do |f|%>
                    <div class="form-group form-group-default">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-success' %>
                  <% end %>
                </div>

              </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
