<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Carts</h1>
    <%= link_to 'New Cart', carts_path(cart: {}), method: :post, class: 'pull-right btn btn-success' %>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <%= render 'shared/notice' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>User</th>
          <th>Start date</th>
          <th>Start time</th>
          <th>Sub total</th>
          <th></th>
        </thead>
        <tbody>
          <% @carts.each do |cart| %>
            <tr>
              <td class="v-align-middle"><%= cart.try(:user).try(:email) %></td>
              <td class="v-align-middle"><%= cart.start_date %></td>
              <td class="v-align-middle"><%= cart.start_time %></td>
              <td class="v-align-middle"><%= number_to_currency(cart.sub_total, locale: :ru) %></td>
              <td class="v-align-middle">
                <div class="btn-group">
                  <%= icon_link(cart, 'fa fa-info', class: 'btn btn-info') %>
                  <%= icon_link(edit_cart_path(cart), 'fa fa-pencil', class: 'btn btn-warning') %>
                  <%= icon_link(cart, 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
