<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Show Cart</h1>
    <div class="pull-right">
      <%= link_to carts_path, class: 'btn btn-default' do %>
        <i class="fa fa-shopping-cart"></i>
      <% end %>
      <%= link_to edit_cart_path(@cart), class: 'btn btn-warning' do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <%= render 'shared/notice' %>
    <%= render 'form', cart: @cart %>
  </div>
</div>
