<h3 class="p-t-35">Sign in</h3>
<!-- START Login Form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'p-t-15' }) do |f| %>
<!-- START Form Control-->
<div class="form-group form-group-default">
  <%= f.label :email %>
  <div class="controls">
    <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
  </div>
</div>
<!-- END Form Control-->
<!-- START Form Control-->
<div class="form-group form-group-default">
  <%= f.label :password %>
  <div class="controls">
    <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control' %>
  </div>
</div>

<% if devise_mapping.rememberable? -%>
<!-- START Form Control-->
<div class="checkbox check-primary">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
</div>
<% end %>
<!-- END Form Control-->
<%= f.submit 'Sign in', class: 'btn btn-primary btn-cons m-t-10' %>

<% end %>
<!--END Login Form-->
