<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Discounts</h1>
    <%= link_to 'New Discount', new_discount_path, class: 'pull-right btn btn-success' %>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <%= render 'shared/notice' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th></th>
          <th>Coupon</th>
          <th>Value</th>
          <th></th>
        </thead>
        <tbody>
          <% @discounts.each do |discount| %>
            <tr>
              <td class="v-align-middle"><%= content_tag :i, nil, class: 'fa fa-refresh text-success' if discount.recurring %></td>
              <td class="v-align-middle"><%= discount.coupon %></td>
              <td class="v-align-middle"><%= format_discount(discount) %></td>
              <td class="v-align-middle">
                <div class="btn-group">
                  <%= icon_link(discount, 'fa fa-info', class: 'btn btn-info') %>
                  <%= icon_link(edit_discount_path(discount), 'fa fa-pencil', class: 'btn btn-warning') %>
                  <%= icon_link(discount, 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
