<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Products</h1>
    <%= link_to 'New Product', new_product_path, class: 'pull-right btn btn-success' %>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <%= render 'shared/notice' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th></th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="v-align-middle"><%= product.title %></td>
              <td class="v-align-middle"><%= format_label(product.category, 'info') %></td>
              <td class="v-align-middle"><%= number_to_currency(product.price, locale: :ru) %></td>
              <td class="v-align-middle">
                <div class="btn-group">
                  <%= icon_link(product, 'fa fa-info', class: 'btn btn-info') %>
                  <%= icon_link(edit_product_path(product), 'fa fa-pencil', class: 'btn btn-warning') %>
                  <%= icon_link(product, 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
