<tr>
  <td class="bold"><%= line_item.product.title %></td>
  <td class="text-right"><%= number_to_currency(line_item.product.price, locale: :ru) %></td>
  <td><%= line_item.quantity %></td>
  <td class="text-right"><%= number_to_currency(line_item.total_price, locale: :ru) %></td>
  <td><%= link_to 'Remove Unit', line_item, method: :delete, remote: true, class: 'btn btn-danger' %></td>
</tr>
