<!DOCTYPE html>
<html>
  <head>
    <title>Shiny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-header menu-pin">
    <%= render 'shared/sidebar' %>

    <div class="page-container">

      <%= render 'shared/header' %>

      <!-- PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">

        <!-- PAGE CONTENT -->
        <div class="content container">
          <%= yield %>
        </div>
        <!-- END PAGE CONTENT -->

        <%= render 'shared/footer' %>

      </div>
      <!-- END PAGE CONTENT WRAPPER -->

    </div>
    <!-- END PAGE CONTAINER -->

    <%= render 'shared/quickview' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
    <%= content_for :script %>
  </body>
</html>
